body{
    background-color: rgb(240,240,240);
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration: none;
}

div.ipn-header{
    width: 100%;
    min-width: 900px;	
    height: 100px;
    background-color: rgb(109,26,66);
    margin-top: 20px;
}

div.ipn-logo{
    margin:auto;
    width: 880px;
    height: 100%;
    padding: 0 20px;
    background-color: inherit;
}

div.ipn-logo p{
    float: right;
    width: 300px;
    margin-top: 30px;
    text-align: right;
    color: white;
}

img.logo{
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

div.main-cont{
    width: 900px;
    margin: auto;
    position: relative;
    padding-bottom: 10px;	
}

div.main-cont-box{
    margin: auto;
    padding-bottom: 20px;
    width: 850px;
    border-radius: 0 0 15px 15px;
    background-color: rgb(255,255,255);
    box-shadow: -2px 0 3px black, 2px 0 3px black;
}

.news{
    float: right;
    position: relative;
}

div.news-cont-box{
    background-color: white;
    border-radius: 15px 0 0 15px;
    margin-top: 140px;
    z-index: 1;
    padding: 10px;
    display: none;
    min-height: 300px;
    width: auto;
    border-radius: 15px 0 0 15px;
    border: 1px solid black;
}

div.news-cont-access{
    background-color: white;
    border-radius: 0 15px 15px 0;
    box-shadow: 2px 0 3px black;
    margin-top: 140px;
    width: 25px;
    height: 100px;
    cursor: pointer;
}

div.news-cont-access span{
    text-align: center;
    position: relative;
    left: 3px;
    width: 100%;
    height: 100%;
    writing-mode: lr-tb;
    -webkit-writing-mode: vertical-lr;
}

div.nav-bar{
    width: 800px;
    height: 130px;
    margin: auto;
    margin-bottom: 60px;
    padding-top: 25px;
}

div.nav-bar div:not(.bottomln){
    position: relative;
}

div.nav-bar div.firstln{
    height: 10px;
    top: 40px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    background-color: rgb(200,200,200);
}

div.nav-bar div.nextln{
    height: 10px;
    width: 770px;
    border-radius: 0 5px 5px 0;
    top: 30px;
    left: 30px;
    background-color: rgb(200,200,200);
}

div.nav-bar div.scnd-menu-image{
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
    top: -25px; 
    left: 650px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
    border-radius: 50%;
    background-color: rgb(200,200,200);
}

div.nav-bar section{
    left: 30px;
    bottom: 140px;
}


div.scnd-menu{
    top: -145px;
    height: 0px;
}

div.scnd-menu div.next-menu{
    height: 40px;
    border-radius: 5px;
    display: none;
    background-color: rgb(200,200,200);
}

.bottomln{
    position: absolute;
    display: none;
}

.ln1{
    width: 10px;
    height: 45px;
    left: 696px;
    top: -20px;
    border-radius: 0 0 5px 0;
    background-color: rgb(200,200,200);
}

.ln2{
    width: 700px;
    height: 10px;
    top: 15px;
    border-radius: 5px 0 5px 5px;
    background-color: rgb(200,200,200);
}

ul.scnd-menu-options{
    padding: 10px 10px 0 10px;
    height: inherit;
    margin: 0;
}

ul.scnd-menu-options li{
    display: inline;
    padding: 10px 15px;
    position: static;
    height: 30px;
    margin-left: -4px;
    cursor: pointer;
}

ul.scnd-menu-options li:first-child{
    margin:0;
}

div.cont-box{
    margin: auto;
    padding: 20px 10px;
    width: 800px;
    min-height: 300px;
    border: none;
}

div.footer{
    width: 850px;
    text-align: right;
    margin: 10px auto;
    font-size: small;
    color: rgb(200,200,200);
    text-shadow: 1px 1px rgb(100,100,100);
}